/*
Colores
  cyan: hsl(179, 62%, 43%)
  lime: hsl(71, 73%, 54%)
  grey: hsl(204, 43%, 93%)
  light-blue: hsl(218, 22%, 67%)

Fuente de la página
  https://fonts.google.com/specimen/Karla
  Estilos 200 y 400
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
}
